# Maven
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Logs
logs/
*.log

# Docker
postgres_data/
